<html>
    <head></head>
    <title>Digital Grocery</title>
    <body>
        <div class="form-group" >
            <form method="post" action="/newitem" >
                <textarea name="item" rows="10" cols="30"></textarea>
                <input type="submit" >
            </form>
        </div>
    </body>
</html>