<html>
    <head></head>
    <title>Digital Grocery</title>
    <body>
        <div>
                <% for(var i =0;i<groceryList.length ;i++) { %>
                    <ul style="border: 1px solid;">
                    <li><%= i %></li>
                    <% var items = groceryList[i].split("\n"); %>
                    <% for(var j =0;j<items.length ;j++){ %>
                        <li> <%= items[j] %> </li>
                    <% } %>
                    </ul>
                <% } %>
        </div>
    </body>
</html>